extends email-birthday

block content
	+td-content().
		Пускай тебя очарованье#[br]
		Не&nbsp;покидает никогда!#[br]
		Твой блеск, улыбка, обаянье#[br]
		С&nbsp;тобой останутся всегда!#[br]
		#[br]
		Пусть счастье, радость, глаз сиянье,#[br]
		Успех&nbsp;&mdash; продлятся на&nbsp;года!#[br]
		И&nbsp;пусть на&nbsp;все твои желанья#[br]
		Судьба в&nbsp;ответ промолвит: Да!

block action-content
	| Благодарим вас за&nbsp;доверие, оказанное нашей компании! Напоминаем вам, что в&nbsp;нашей лаборатории у&nbsp;вас #[b(style={'font-size': '21px'}) постоянная скидка&nbsp;15%]
