extends email-birthday

block content
	+td-content().
		Пускай душа не&nbsp;знает холода,#[br]
		Как ясный день, как сад в&nbsp;цвету,#[br]
		Пусть будет сердце вечно молодо,#[br]
		Добром встречая доброту!#[br]
		#[br]
		И&nbsp;от&nbsp;души тебе желаю#[br]
		Здоровья, счастья, долгих лет,#[br]
		И&nbsp;пусть судьба дарит лишь радость,#[br]
		Храня твой дом от&nbsp;всяких бед!

block action-content
	| Благодарим вас за&nbsp;доверие, оказанное нашей компании! Напоминаем вам, что в&nbsp;нашей лаборатории у&nbsp;вас #[b(style={'font-size': '21px'}) постоянная скидка&nbsp;20%]
